<div class="url-builder"><a target="_blank" href="{{queryUrl}}">Veja o pedido à API do {{server}} para estes resultados  <i class="fa fa-external-link" aria-hidden="true"></i></a><br>
{{#if (not-eq entity "isochrones")}}
<a target="_blank" href="{{geoJsonUrl}}">Veja estes resultados em formato geoJSON <i class="fa fa-external-link" aria-hidden="true"></i></a>
{{/if}}
</div>
