<div class="site-intro">
  <p>{{text}}</p>
  <p>Mobility Explorer makes use of <a href="https://tpp.pt">TPP</a> public-transit data, <a href="https://search.tpp.pt/">TPP geocode</a> search, and <a href="https://www.nextzen.org">Nextzen</a> map tiles.</p>
  <p>Click <a href="https://github.com/tpportugal/tpp_explorador/blob/master/docs/overview.md" target="_blank">here</a> to learn more&hellip;</p>
  <div class="close-textbox" {{action "close"}}>
    <i class="fa fa-times-circle" aria-hidden="true"></i> close
  </div>
</div>
