<div class="site-intro">
  <p>{{text}}</p>
  <p>O Explorador de Mobilidade TPP utiliza dados de transportes públicos da API do Banco de Dados <a href="https://tpp.pt">TPP</a> , pesquisa de<a href="https://search.tpp.pt/">geolocalização TPP</a>, e mosaicos de mapa <a href="https://www.nextzen.org">Nextzen</a>.</p>
  <p>Clique <a href="https://github.com/tpportugal/tpp_explorador/blob/master/docs/overview.md" target="_blank">aqui</a> para saber mais&hellip;</p>
  <div class="close-textbox" {{action "close"}}>
    <i class="fa fa-times-circle" aria-hidden="true"></i> close
  </div>
</div>
